{{ define "main" }}

<div class="grid-container">

    <div class="grid-item grid-column-4 no-bg">

        <h1>
            <span class="fa-layers fa-fw">
                <i class="fad fa-star-exclamation" data-fa-transform="rotate--10 shrink-4 up-10 right-10"></i>
                <i class="fad fa-lightbulb-exclamation" data-fa-transform="rotate--350 shrink-6 up-6 left-8"></i>
                <i class="fad fa-exclamation" data-fa-transform="grow-4 up-6 left-2"></i>
                <i class="fad fa-question" data-fa-transform="shrink-8 up-6 right-2"></i>
                <i class="fad fa-bell-exclamation" data-fa-transform="shrink-2 up-8 left-4"></i>
                <i class="fad fa-surprise fa-lg"></i>
            </span><br>
            Pop That News Bubble
        </h1>

    </div>

    <div class="grid-item grid-column-1">

        <h3><i class="fad fa-newspaper fa-fw"></i> The Powerhouses</h3>

        <ul>
            <li>
                <i class="fad fa-microphone fa-sm fa-fw"></i>
                <a href="https://www.democracynow.org/">
                    Democracy Now!
                </a>
            </li>
            <li>
                <i class="fad fa-search fa-sm fa-fw"></i>
                <a href="https://www.propublica.org/">
                    ProPublica
                </a>
            </li>
            <li>
                <i class="fad fa-satellite-dish fa-sm fa-fw"></i>
                <a href="https://theintercept.com/">
                    The Intercept
                </a>
            </li>
            <li>
                <i class="fad fa-landmark fa-sm fa-fw"></i>
                <a href="https://theappeal.org/">
                    The Appeal
                </a>
            </li>
            <li>
                <i class="fad fa-flag-usa fa-sm fa-fw"></i>
                <a href="https://www.thenation.com/">
                    The Nation
                </a>
            </li>
        </ul>
        
    </div>

    <div class="grid-item grid-column-2">

        <h3><i class="fad fa-user-secret fa-fw"></i> The Troublemakers</h3>

        <ul>
            <li>
                <i class="fad fa-typewriter fa-sm fa-fw"></i>
                <a href="https://www.dailyposter.com/">
                    <strong>The Daily Poster</strong> · <span>David Sirota</span>
                </a>
            </li>
            <li>
                <i class="fad fa-dog fa-sm fa-fw"></i>
                <a href="https://greenwald.substack.com/">
                    <strong>Glenn Greenwald Substack</strong> · <span>Glenn Greenwald</span>
                </a>
            </li>
            <li>
                <i class="fad fa-splotch fa-sm fa-fw"></i>
                <a href="https://the.ink/">
                    <strong>The Ink</strong> · <span>Anand Giridharadas</span>
                </a>
            </li>
            <li>
                <i class="fad fa-fist-raised fa-sm fa-fw"></i>
                <a href="https://www.bostonglobe.com/opinion/the-emancipator/">
                    <strong>The Emancipator</strong> · <span>Ibram X. Kendi</span>
                </a>
            </li>
        </ul>
        
    </div>

    <div class="grid-item grid-column-1">

        <h3><i class="fad fa-viruses fa-fw"></i> The SARS-CoV-2</h3>

        <ul>
            <li>
                <i class="fad fa-laptop-medical fa-sm fa-fw"></i>
                <a href="https://pubmed.ncbi.nlm.nih.gov/?term=covid">
                    PubMed "COVID"
                </a>
            </li>
            <li>
                <i class="fad fa-sparkles fa-sm fa-fw"></i>
                <a href="https://www.nature.com/articles/d41586-020-00502-w">
                    New Research
                </a>
            </li>
            <li>
                <i class="fad fa-book-medical fa-sm fa-fw"></i>
                <a href="https://www.cochranelibrary.com/covid-19">
                    Cochrane Library
                </a>
            </li>
            <li>
                <i class="fad fa-hospital-user fa-sm fa-fw"></i>
                <a href="https://www.youtube.com/channel/UCFaPzuoXcACu7jplePDfXmA">
                    IHU Marseille Youtube
                </a>
            </li>
            <li>
                <i class="fad fa-syringe fa-sm fa-fw"></i>
                <a href="https://thevaccinereaction.org/vaccination/">
                    The Vaccine Reaction
                </a>
            </li>
        </ul>
        
    </div>

    <div class="grid-item grid-column-2">

        <h3><i class="fad fa-microphone-alt fa-fw"></i> The Podcasts</h3>

        <ul>
            <li>
                <i class="fad fa-cross fa-rotate-180 fa-sm fa-fw"></i>
                <a href="https://www.patreon.com/badfaithpodcast">
                    <strong>Bad Faith</strong> · <span>Briahna Joy Gray & Virgil Texas</span>
                </a>
            </li>
            <li>
                <i class="fad fa-traffic-light-stop fa-sm fa-fw"></i>
                <a href="https://lady-dont-take-no.simplecast.com/">
                    <strong>Lady Don't Take No</strong> · <span>Alicia Garza</span>
                </a>
            </li>
            <li>
                <i class="fad fa-lasso fa-sm fa-fw"></i>
                <a href="https://podcasts.apple.com/us/podcast/the-tight-rope/id1524242837">
                    <strong>The Tight Rope</strong> · <span>Dr. Cornell West & Professor Tricia Rose </span>
                </a>
            </li>
            <li>
                <i class="fad fa-landmark-alt fa-sm fa-fw"></i>
                <a href="https://congressionaldish.com/">
                    <strong>Congressional Dish</strong> · <span>Jen Briney</span>
                </a>
            </li>
            <li>
                <i class="fad fa-satellite fa-sm fa-fw"></i>
                <a href="https://theintercept.com/podcasts/intercepted/">
                    <strong>Intercepted</strong> · <span>Jeremy Scahill</span>
                </a>
            </li>
            <li>
                <i class="fad fa-space-station-moon-alt fa-sm fa-fw"></i>
                <a href="https://theintercept.com/podcasts/deconstructed/">
                    <strong>Deconstructed</strong> · <span>Ryan Grim</span>
                </a>
            </li>
        </ul>

    </div>

    <div class="grid-item grid-column-1">

        <h3><i class="fad fa-grin-squint-tears fa-fw"></i> The Ridiculousness</h3>

        <ul>
            <li>
                <i class="fad fa-grin-squint fa-sm fa-fw"></i>
                <a href="https://www.theonion.com/">
                    The Onion
                </a>
            </li>
            <li>
                <i class="fad fa-chair fa-sm fa-fw"></i>
                <a href="https://www.mcsweeneys.net/">
                    McSweeney's
                </a>
            </li>
            <li>
                <i class="fad fa-hand-middle-finger fa-sm fa-fw"></i>
                <a href="https://twitter.com/thefingnews?lang=en">
                    The Fucking News
                </a>
            </li>
            <li>
                <i class="fad fa-eye fa-sm fa-fw"></i>
                <a href="https://www.private-eye.co.uk/">
                    Private Eye
                </a>
            </li>
            <li>
                <i class="fab fa-octopus-deploy fa-sm fa-fw"></i>
                <a href="https://www.dailysquib.co.uk/">
                    The Daily Squid
                </a>
            </li>
        </ul>

    </div>

    <div class="grid-item grid-column-2">

        <h3><i class="fad fa-hands-helping fa-fw"></i> The Anarchists</h3>

        <ul>
            <li>
                <i class="fad fa-comment-lines fa-sm fa-fw"></i>
                <a href="https://theconversation.com/what-is-anarchism-all-about-50373">
                    <strong>Get it straight #1:</strong> <span>What is anarchism all about?</span>
                </a>
            </li>
            <li>
                <i class="fad fa-hands-heart fa-sm fa-fw"></i>
                <a href="https://www.teenvogue.com/story/anarchy-explained-what-it-is-why-pop-culture-loves-it">
                    <strong>Get it straight #2:</strong> <span>Anarchy: What It Is and Why Pop Culture Loves It</span>
                </a>
            </li>
            <li>
                <i class="fad fa-newspaper fa-sm fa-fw"></i>
                <a href="https://www.washingtonpost.com/outlook/2020/06/04/stop-blaming-everything-bad-anarchists/">
                    <strong>Get it straight #3:</strong> <span>Stop blaming everything bad on anarchists</span>
                </a>
            </li>
            <li>
                <i class="fad fa-books fa-sm fa-fw"></i>
                <a href="https://theanarchistlibrary.org/special/index">
                    <strong>Now go read!:</strong> <span>The Anarchist Library</span>
                </a>
            </li>
        </ul>
        
    </div>


    <div class="grid-item grid-column-4">

        <h3><i class="fad fa-rss fa-fw"></i> The Feeds</h3>
           
    </div>
    
    <div class="grid-item grid-column-2">

        <script src="//rss.bloople.net/?url=https%3A%2F%2Fwww.democracynow.org%2Fdemocracynow.rss&limit=10&showicon=true&type=js"></script>
        
    </div>
    
    <div class="grid-item grid-column-2">

        <script src="//rss.bloople.net/?url=http%3A%2F%2Ffeeds.propublica.org%2Fpropublica%2Fmain&detail=300&limit=10&showicon=true&type=js"></script>
        
    </div>

    <div class="grid-item grid-column-2">

        <script src="//rss.bloople.net/?url=https%3A%2F%2Ftheanarchistlibrary.org%2Ffeed&detail=300&limit=10&showicon=true&type=js"></script>
        
    </div>
</div>

{{ end }}